{
  "openapi": "3.1.0",
  "$schema": "https://ref.actionschema.com/openapi.json",
  "x-actionschema": "0.0.1",
  "info": {
    "title": "API Specification",
    "version": "1.0.0",
    "description": "API specification for search endpoints"
  },
  "security": [{ "oauth2": [] }],
  "servers": [{ "url": "https://stt.actionschema.com" }],
  "paths": {
    "/audio/translations": {
      "post": {
        "operationId": "translateAudio",
        "summary": "Translate audio to text",
        "description": "Accepts an audio file and returns the transcribed text",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The audio file to be translated"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcript": {
                      "type": "string",
                      "description": "The transcribed text from the audio file"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - No audio file provided",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.actionschema.com/oauth/github/login",
            "tokenUrl": "https://auth.actionschema.com/oauth/access_token",
            "scopes": {
              "admin": "Full access to all services"
            }
          }
        }
      }
    }
  }
}
